<h1>マイアイデア一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.genre.name %></td>
        <td>
          <%= link_to t("buttons.edit"), edit_work_path(work) %> |
          <%= link_to t("buttons.destroy"), work, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("buttons.new"), new_work_path, class: "btn btn-primary" %>
