<h2><%= t('works.new.title') %></h2>

<% if @work.errors.any? %>
  <div id="error_explanation" class="bg-red-100 text-red-800 p-3 rounded mb-4">
    <h2><%= pluralize(@work.errors.count, "件のエラー") %>が発生しました:</h2>
    <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @work, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :genre_id, "ジャンル" %><br>
    <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "ジャンルを選択してください" %>
  </div>

  <div>
    <%= f.label :theme, "テーマ" %><br>
    <%= f.text_field :theme %>
  </div>

  <div>
    <%= f.label :synopsis, "あらすじ" %><br>
    <%= f.text_area :synopsis %>
  </div>

  <div>
    <%= f.submit "作成する", class: "px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" %>
  </div>
<% end %>
