<h1>お問い合わせ</h1>

<%= form_with model: @contact, local: true do |f| %>
  <div>
    <%= f.label :name, "お名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :message, "お問い合わせ内容" %><br>
    <%= f.text_area :message %>
  </div>

  <%= f.submit "送信する" %>
<% end %>
